<!-- To add more icons, duplicate a section and find yout icon here -> https://fontawesome.com/v6.0/icons -->

<div class="social-links">
    {% if site.facebook %}
        <a class="link" data-title="facebook.com/{{ site.facebook }}" href="https://facebook.com/{{ site.facebook }}" target="_blank" rel="noopener" alt="anchor link for social media facebook" aria-label="anchor link for social media facebook">
            <i class="fa-brands fa-facebook"></i>
        </a>
    {% endif %}

    {% if site.twitter %}
        <a class="link" data-title="twitter.com/{{ site.twitter }}" href="https://twitter.com/{{ site.twitter }}" target="_blank" rel="noopener" alt="anchor link for social media twitter" aria-label="anchor link for social media twitter">
            <i class="fa-brands fa-x-twitter"></i>
        </a>
    {% endif %}

    {% if site.instagram %}
        <a class="link" data-title="instagram.com/{{ site.instagram }}" href="https://instagram.com/{{ site.instagram }}" target="_blank"  rel="noopener" alt="anchor link for social media instagram" aria-label="anchor link for social media instagram">
            <i class="fa-brands fa-instagram"></i>
        </a>
    {% endif %}

    {% if site.linkedin %}
        <a class="link" data-title="linkedin.com/in/{{ site.linkedin }}" href="https://www.linkedin.com/in/{{ site.linkedin }}" target="_blank"  rel="noopener" alt="anchor link for social media linkedin" aria-label="anchor link for social media linkedin">
            <i class="fa-brands fa-linkedin"></i>
        </a>
    {% endif %}
    
    <a class="icon" href="https://letterboxd.com/sebinmaryjo/" target="_blank" rel="noopener noreferrer" aria-label="Letterboxd">
        <svg width="14.5" height="14.5" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg">
          <circle fill="#FFFFFF" cx="250" cy="250" r="250" />
          <g transform="translate(61, 180)">
            <ellipse fill="#202830" cx="189" cy="70" rx="70.0786517" ry="70" />
            <ellipse fill="#202830" cx="318" cy="70" rx="70.0786517" ry="70" />
            <ellipse fill="#202830" cx="70.0786517" cy="70" rx="70.0786517" ry="70" />
            <path d="M129.539326,107.063108 C122.810493,96.3149291 118.921348,83.611134 118.921348,70 C118.921348,56.388866 122.810493,43.6850709 129.539326,32.9368922 C136.268159,43.6850709 140.157303,56.388866 140.157303,70 C140.157303,83.611134 136.268159,96.3149291 129.539326,107.063108 Z" fill="#FFFFFF"/>
            <path d="M248.460674,32.9368922 C255.189507,43.6850709 259.078652,56.388866 259.078652,70 C259.078652,83.611134 255.189507,96.3149291 248.460674,107.063108 C241.731841,96.3149291 237.842697,83.611134 237.842697,70 C237.842697,56.388866 241.731841,43.6850709 248.460674,32.9368922 Z" fill="#FFFFFF"/>
          </g>
        </svg>
      </a>

    <!-- {% if site.github %}
        <a class="link" data-title="github.com/{{ site.github }}" href="https://github.com/{{ site.github }}" target="_blank"  rel="noopener" alt="anchor link for social media github" aria-label="anchor link for social media github">
            <i class="fa-brands fa-github"></i>
        </a>
    {% endif %} -->

    {% if site.email %}
        <a class="link" data-title="{{ site.email }}" href="mailto:{{ site.email }}"  rel="noopener" alt="anchor link for email" aria-label="anchor link for email">
            <i class="fa-regular fa-envelope"></i>
        </a>
    {% endif %}
</div>
